Repository hmcts/azure-enterprise-acme, pull requests merged in 2022-11, with the labels that each got.

#3 adding dns zone contributor tf file and updating pipeline
  azure-pipelines.yml
  components/acme/acme.tf
  components/acme/data.tf
  components/acme/functionapp.tf
  components/acme/local.tf
  components/acme/main.tf
  components/acme/managedidentity.tf
  components/acme/provider.tf
  components/acme/tags.tf
  components/acme/tfplan-sbox-dcd_cft_sandbox-acme
  environments/sbox/sbox.tfvars
  scripts/dnsgroupowner.sh
  scripts/terraform-import.sh
Labels: ithc-dcd_cftapps_ithc-acme/add-or-update, demo-dcd_cftapps_demo-acme/add-or-update, dev-dts_sharedservices_dev-acme/add-or-update, stg-dcd_cftapps_stg-acme/add-or-update, prod-dcd_cft_vh_pilot-acme/add-or-update, test-dcd_cftapps_test-acme/add-or-update, dev-dcd_cft_idam_dev-acme/add-or-update, prod-dcd_cnp_prod-acme/add-or-update, demo-dcd_cftappsdata_demo-acme/add-or-update, sbox-dts_sharedservices_sbox-acme/add-or-update, test-dts_sharedservices_test-acme/add-or-update, ptl-dts_cftptl_intsvc-acme/add-or-update, test-dcd_cnp_qa-acme/add-or-update, dev-hmcts_hub_dev-acme/add-or-update, dev-dcd_cftapps_dev-acme/add-or-update, dev-dcd_cnp_dev-acme/add-or-update, sbox-dts_cftsbox_intsvc-acme/add-or-update, prod-dcd_cftapps_prod-acme/add-or-update, ithc-dts_sharedservices_ithc-acme/add-or-update, demo-dts_sharedservices_demo-acme/add-or-update, prod-dts_sharedservices_prod-acme/add-or-update, stg-dts_sharedservices_stg-acme/add-or-update, sbox-hmcts_hub_sbox-acme/add-or-update, sbox-hmcts_soc_sbox-acme/add-or-update, sbox-hmcts_hub_sbox_intsvc-acme/add-or-update, test-hmcts_hub_test-acme/add-or-update, dev-reform_cft_vh_dev-acme/add-or-update, prod-hmcts_hub_prod_intsvc-acme/add-or-update, prod-hmcts_soc_prod-acme/add-or-update, sbox-dcd_cftapps_sbox-acme/add-or-update, ptl-dts_sharedservicesptl-acme/add-or-update, sbox-dcd_cft_sandbox-acme/no-changes

#4 DTSPO-10841 - remove az cmd from pipeline and update instructions on running it manually
  README.md
  azure-pipelines.yml
  scripts/dnsgroupowner.sh
Labels: sbox-dcd_cftapps_sbox-acme/add-or-update, sbox-dcd_cft_sandbox-acme/no-changes, test-dcd_cnp_qa-acme/no-changes, stg-dcd_cftapps_stg-acme/no-changes, ptl-dts_cftptl_intsvc-acme/no-changes, ptl-dts_sharedservicesptl-acme/no-changes, ithc-dcd_cftapps_ithc-acme/no-changes, prod-dcd_cft_vh_pilot-acme/no-changes, dev-dcd_cftapps_dev-acme/no-changes, demo-dts_sharedservices_demo-acme/no-changes, prod-dcd_cnp_prod-acme/no-changes, dev-dts_sharedservices_dev-acme/no-changes, dev-dcd_cnp_dev-acme/no-changes, test-dcd_cftapps_test-acme/no-changes, sbox-dts_cftsbox_intsvc-acme/no-changes, ithc-dts_sharedservices_ithc-acme/no-changes, prod-dts_sharedservices_prod-acme/no-changes, prod-dcd_cftapps_prod-acme/no-changes, dev-dcd_cft_idam_dev-acme/no-changes, demo-dcd_cftapps_demo-acme/no-changes, stg-dts_sharedservices_stg-acme/no-changes, demo-dcd_cftappsdata_demo-acme/no-changes, sbox-dts_sharedservices_sbox-acme/no-changes, ptlsbox-dts_sharedservicesptl_sbox-acme/no-changes, dev-hmcts_hub_dev-acme/no-changes, test-dts_sharedservices_test-acme/no-changes, prod-hmcts_hub_prod_intsvc-acme/no-changes, test-hmcts_hub_test-acme/no-changes, dev-reform_cft_vh_dev-acme/no-changes, sbox-hmcts_hub_sbox-acme/no-changes, sbox-hmcts_hub_sbox_intsvc-acme/no-changes, sbox-hmcts_soc_sbox-acme/no-changes, prod-hmcts_soc_prod-acme/no-changes

#6 DTSPO-11613 Use correct subscription ID for acme bot
  components/acme/functionapp.tf
Labels: sbox-dcd_cft_sandbox-acme/add-or-update, ithc-dcd_cftapps_ithc-acme/add-or-update, demo-dcd_cftapps_demo-acme/add-or-update, dev-dts_sharedservices_dev-acme/add-or-update, stg-dcd_cftapps_stg-acme/add-or-update, prod-dcd_cft_vh_pilot-acme/add-or-update, test-dcd_cftapps_test-acme/add-or-update, dev-dcd_cft_idam_dev-acme/add-or-update, prod-dcd_cnp_prod-acme/add-or-update, demo-dcd_cftappsdata_demo-acme/add-or-update, sbox-dts_sharedservices_sbox-acme/add-or-update, test-dts_sharedservices_test-acme/add-or-update, ptl-dts_cftptl_intsvc-acme/add-or-update, test-dcd_cnp_qa-acme/add-or-update, dev-hmcts_hub_dev-acme/add-or-update, dev-dcd_cftapps_dev-acme/add-or-update, dev-dcd_cnp_dev-acme/add-or-update, sbox-dts_cftsbox_intsvc-acme/add-or-update, prod-dcd_cftapps_prod-acme/add-or-update, ithc-dts_sharedservices_ithc-acme/add-or-update, demo-dts_sharedservices_demo-acme/add-or-update, prod-dts_sharedservices_prod-acme/add-or-update, stg-dts_sharedservices_stg-acme/add-or-update, sbox-hmcts_hub_sbox-acme/add-or-update, sbox-hmcts_soc_sbox-acme/add-or-update, sbox-hmcts_hub_sbox_intsvc-acme/add-or-update, test-hmcts_hub_test-acme/add-or-update, dev-reform_cft_vh_dev-acme/add-or-update, prod-hmcts_hub_prod_intsvc-acme/add-or-update, prod-hmcts_soc_prod-acme/add-or-update, sbox-dcd_cftapps_sbox-acme/add-or-update, ptl-dts_sharedservicesptl-acme/add-or-update
